{{ if not .InstallRequested }}
# No pending repave. Chainload the locally installed bootloader.
insmod part_gpt
insmod fat
insmod search_fs_file
insmod chain

if search --no-floppy --set=root --file /EFI/BOOT/BOOTX64.EFI; then
  chainloader /EFI/BOOT/BOOTX64.EFI
  boot
fi
if search --no-floppy --set=root --file /EFI/BOOT/BOOTAA64.EFI; then
  chainloader /EFI/BOOT/BOOTAA64.EFI
  boot
fi
if search --no-floppy --set=root --file /EFI/ubuntu/shimx64.efi; then
  chainloader /EFI/ubuntu/shimx64.efi
  boot
fi
if search --no-floppy --set=root --file /EFI/ubuntu/shimaa64.efi; then
  chainloader /EFI/ubuntu/shimaa64.efi
  boot
fi
{{ end }}

set default=0
set timeout=0

menuentry "Unbounded Metal Install" {
  linux /vmlinuz \
    unbounded.image_url={{ .ServeURL }}/disk.img.gz \
    unbounded.serve_url={{ .ServeURL }} \
    unbounded.ds_url={{ .ServeURL }}/cloud-init/ \
    unbounded.node_name={{ .Machine.Name }} \
    unbounded.node_namespace={{ .Machine.Namespace }} \
    unbounded.apiserver_url={{ .ApiserverURL }} \
    {{- if .BootLease }}
    unbounded.boot_mac={{ .BootLease.MAC }} \
    ip={{ .BootLease.IPv4 }}::{{ .BootLease.Gateway }}:{{ .BootLease.SubnetMask }}:::none \
    {{- end }}
    {{- if .Machine.Spec.PXE.TargetDisk }}
    unbounded.disk={{ .Machine.Spec.PXE.TargetDisk }} \
    {{- end }}
    console=tty0 console=ttyS0,115200n8 \
    ---
  initrd /initrd /init.cpio
}
